ETHEREUM_MAINNET_RPC=
ETHEREUM_MAINNET_DEPLOYER_NAME=
ETHEREUM_SEPOLIA_RPC=
ETHEREUM_SEPOLIA_DEPLOYER_NAME=

ETHERSCAN_API_KEY=

ARBITRUM_ONE_RPC=
ARBITRUM_ONE_DEPLOYER_NAME=
ARBITRUM_SEPOLIA_RPC=
ARBITRUM_SEPOLIA_DEPLOYER_NAME=

ARBISCAN_API_URL=
ARBISCAN_API_KEY=

GEO_RPC=
GEO_CHAIN_ID=
GEO_DEPLOYER_NAME=

GEO_TESTNET_RPC=
GEO_TESTNET_CHAIN_ID=
GEO_TESTNET_DEPLOYER_NAME=

GEOSCAN_API_URL=
GEOSCAN_TESTNET_API_URL=
GEOSCAN_API_KEY=
